html,
body,
#mapid {
  width: 100%;
  height: 640px;
  padding: 80px;
  margin: 0;
}

.jumbotron {
    background-image: url("../images/water_fire.jpg");
    background-size: 100% 100%;
    text-align: center;
    height: 300px;
}

#title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#p1{
    font-family: Helvetica;
}

#button1{
    background-color: #E66D1D;
    border-radius: 12px;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button2{
    background-color: #E66D1D;
    border-radius: 12px;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#button3{
    background-color: #E66D1D;
    border-radius: 12px;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#container{
    text-align: right;
}

option{
    font-size: 30px;
}
  
form{
    font-size: 32px;
}
  
table tbody tr {
    font-size: 28px;
}

#viz1624599552452{
    margin-left : auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
  
#viz1624600881875{
    margin-left : auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
  

#viz1625111777684{
    margin-left : auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
  