<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wildfire Prediction</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <!-- Leaflet CSS file in the head section of your document -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <!-- CSS stylesheet -->
  <link rel="stylesheet" href="static/css/style.css">

  <!-- d3 JavaScript-->
  <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<header>
  <nav>
    <div id="container">
      <a href="pages/aboutus.html">
        <button type="button" id="button2" class="button2 btn btn-primary float-right">About Us</button>
      </a>
      </a>
      <a href="pages/resources.html">
        <button type="button" id="button3" class="button2 btn btn-primary float-right">Resources</button>
      </a>
    </div>
  </nav>
</header>

<br>

<body>
  <!-- Add Jumpotron to Header -->
  <div class="jumbotron">
    <div class="container">
      <h1 style="color: white" id="title">Wildfire Interactive Visualizations</h1>
    </div>
  </div>
  <div class="col-md-12">
    <p style="color: black; text-align: left; font-size: 28px;" id="p1">
      <strong>Living in California while fire was rampant, it sparked our interest to analyze wildfires across the
        United States from 1992-2015. We utilized Random Forest Machine Learning Model to predict the class of the fire
        size in an effort to educate the public and for resources distribution.
       </strong></b>
      <br></br>
       <strong>The goal of this analysis is to predict fire size class based on publicly available data. We elected Kaggle and
        started with the 1.88 million dataset and ultimately preferred the subset that includes weather data. After
        extract, transform and load, we ultimately performed machine learning with over seven thousand data points. We
        elected to randomly split, train, and test utilizing Random Forrest Classifier. The best accuracy score we could
        obtain was 70%, due to our limited expertise in fire science, limited time, and our early career in data science.
        If we continued to work on this project we would explore more features that contribute to wildfires and recent
        fire data.
        <br></br>
        Here you will find an interactive table and visualizations pertaining to wildfires across the United
        States.
      </strong>
    </p>
    <br></br>
  </div>

     
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <form class="bg-light">
          <p style=color:orangered>Please make selection to display fire data from 1992-2015 of the state and/or county
            of interest.
          </p>
          <ul class="list-group bg-dark">

            <li class="list-group-item bg-light">
              <label for="state">Enter State</label><br>
              <!--<input type="text" placeholder="California" id="state" />-->
              <select id="state">
                <option disabled selected value> -- select an option -- </option>
              </select>
            </li>

            <li class="list-group-item bg-light">
              <label for="county">Enter County</label><br>
              <select id="county">
                <option disabled selected value> -- select an option -- </option>
              </select>
            </li>

          </ul>
          <p></p>
        </form>
      </div>

      <!-- Diplay selection results list -->
      <div class="col-md-8">
        <table class="table table-striped">
          <!-- <table class="table table-bordered"> -->
          <thead id="fire_table_header">
          </thead>
          <tbody id="fire_table"></tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- The div that holds our map -->
  <div class="container">
    <div id="mapid"></div>
  </div>

  <div>
    <hr>
    <p>
  </div>

  <div>
    <!-- Tableau - Map of US Fires -->
    <section class="content-block embed-form">
      <div class='tableauPlaceholder' id='viz1624599552452' style='position: relative;'>
        <noscript><a href='#'><img alt='Dashboard 1 '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wi&#47;Wildfire_final&#47;Dashboard1&#47;1_rss.png'
              style='border: none' /></a>
        </noscript>
        <object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='Wildfire_final&#47;Dashboard1' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wi&#47;Wildfire_final&#47;Dashboard1&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
        </object>

        <script type='text/javascript'>
          var divElement = document.getElementById('viz1624599552452');
          var vizElement = divElement.getElementsByTagName('object')[0];
          if (divElement.offsetWidth > 800) {
            vizElement.style.width = '1200px';
            vizElement.style.height = '830px';
          }
          else if (divElement.offsetWidth > 500) {
            vizElement.style.width = '1200px';
            vizElement.style.height = '830px';
          } else {
            vizElement.style.width = '100%';
            vizElement.style.height = '727px';
          }
          var scriptElement = document.createElement('script');
          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>

        <div class="col-md-12">
          <br></br>
          <p style="color: black; text-align: center; font-size: 28px;" id="p1">
            <strong>Select year to view fires for that year. </strong></b>
          </p>
        </div>

      </div>
    </section>
  </div>

  <div>
    <hr>
  </div>

  <div>
    <!-- Tableau - Pie chart fire acres -->
    <section class="content-block embed-form">
      <div class='tableauPlaceholder' id='viz1624600881875' style='position: relative'>
        <noscript>
          <a href='#'><img alt='Dashboard 2 '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wi&#47;Wildfire_final&#47;Dashboard2&#47;1_rss.png'
              style='border: none' /></a>
        </noscript>
        <object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='Wildfire_final&#47;Dashboard2' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wi&#47;Wildfire_final&#47;Dashboard2&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
        </object>

        <script type='text/javascript'>
          var divElement = document.getElementById('viz1624600881875');
          var vizElement = divElement.getElementsByTagName('object')[0];
          if (divElement.offsetWidth > 800) {
            vizElement.style.width = '1200px';
            vizElement.style.height = '830px';
          }
          else if (divElement.offsetWidth > 500) {
            vizElement.style.width = '1200px';
            vizElement.style.height = '830px';
          }
          else {
            vizElement.style.width = '100%';
            vizElement.style.height = '727px';
          }
          var scriptElement = document.createElement('script');
          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>

      </div>

  </div>
  <!-- <div class="col-md-12">
        <p style="color: red; text-align: center; font-size: 22px;" id="p1">
          <!-- <strong>can we fit text here???</strong></b> -->
  <!-- <div class="col-md-2; text-align: right; font-size: 24px;" id="p1"> -->
  <!-- <div style="color:black; text-align: left; font-size: 28px; id=" p1">
    <h3>Machine Learning Model Accuracy</h3>
    <h4>The goal of this analysis is to predict fire size class based on publicly available data. We elected Kaggle and
      started with the 1.88 million dataset and ultimately preferred the subset that includes weather data. After
      extract, transform and load, we ultimately performed machine learning with over seven thousand data points. We
      elected to randomly split, train, and test utilizing Random Forrest Classifier. The best accuracy score we could
      obtain was 70%, due to our limited expertise in fire science, limited time, and our early career in data science.
      If we continued to work on this project we would explore more features that contribute to wildfires and recent
      fire data.
    </h4>
    <br></br>
  </div> --> -->

  </section>

  <!-- remove last pie chart -->
  <!-- <div class='tableauPlaceholder' id='viz1625112874949' style='position: relative'><noscript><a href='#'><img
          alt='Dashboard 2 '
          src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wi&#47;wildfire_test&#47;Dashboard2&#47;1_rss.png'
          style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name' value='wildfire_test&#47;Dashboard2' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='yes' />
      <param name='static_image'
        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wi&#47;wildfire_test&#47;Dashboard2&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='language' value='en-US' />
    </object></div>
  <script
    type='text/javascript'> var divElement = document.getElementById('viz1625112874949'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1004px'; vizElement.style.height = '877px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1004px'; vizElement.style.height = '877px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
  </div> -->

  <!--Leaflet JavaScript file-->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/logic.js"></script>
  <!-- <script type="text/javascript" src="static/js/app.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Start selection display logic -->
  <script>

    var selectedstate = null;
    function get_states() {
      // d3.csv("http://127.0.0.1:5000/Resources/wildfire_data_final.csv").then(function (data) {
      //   var states = [];
      //   data.forEach(function (d) {
      //     if (states.indexOf(d.State_name) < 0) {
      //       states.push(d.State_name);
      //     }
      //   });
      //   states.sort();
      //   states.forEach(function (s) {
      //     $("#state").append("<option>" + s + "</option>");
      //   });
      //   //  console.log("csv states data", states);
      // });
      $.ajax({
        method: "POST",
        url: "http://127.0.0.1:5000/api/states"
      })
        .done(function (msg) {
          var datafilter = JSON.parse(msg);
          // console.log(msg);
          datafilter.sort();
          datafilter.forEach((state) => {
            $("#state").append("<option>" + state + "</option>");
          });
        });
    }

    function get_county() {
      $("#county").empty();
      d3.csv("Resources/wildfire_data_final.csv").then(function (data) {
        var county_manu = [];
        data.forEach(function (d) {
          if (county_manu.indexOf(d.County) < 0 && d.State_name == selectedstate) {
            county_manu.push(d.County);
          }
        });
        county_manu.sort();
        $("#county").append("<option>--select an option--</option>");
        county_manu.forEach(function (c) {
          $("#county").append("<option>" + c + "</option>");
        });
      });
    }

    function filter_county(county) {
      // console.log("filter_county", county);
      $("#fire_table").empty();
      var headers = { 'State': 'State_name', 'County': 'County', 'Fire Cause': 'Fire_Cause', 'Acres Burned': 'Fire_Size', 'Month': 'Discovery_Month', 'Year': 'Discovery_Year' };
      var keys = Object.keys(headers);
      //console.log("keys", keys);
      var thead = d3.select("thead");
      var tbody = d3.select("tbody");
      let header = tbody.append("tr");
      keys.forEach(function (key) {
        let cell = header.append("th");
        cell.text(key);
      });
      $(".leaflet-marker-icon").remove();

      $.ajax({
        method: "POST",
        url: "http://127.0.0.1:5000/api/county",
        data: { state: selectedstate, county: county }
      })
        .done(function (msg) {
          var datafilter = JSON.parse(msg);
          var mappan = false;
          datafilter.forEach((dataRow) => {
            let row = tbody.append("tr");
            console.log("dataRow", dataRow);
            L.marker([dataRow.Latitude, dataRow.Longitude], { icon: myfire }).addTo(map);
            if (mappan == false) {
              console.log("setting mapview");
              map.setView([dataRow.Latitude, dataRow.Longitude], 10);
              mappan = true;
            }
            keys.forEach(function (key) {
              let cell = row.append("td");
              cell.text(dataRow[headers[key]]);
            });

          });
        });

      // d3.csv("Resources/wildfire_data_final.csv").then(function (data) {
      // datafilter = data.filter(holder => {
      //     // console.log(holder);
      //     return (holder.State_name == selectedstate && holder.County == county);
      //   });
      //   var mappan = false;
      //   datafilter.forEach((dataRow) => {
      //     let row = tbody.append("tr");
      //     console.log("dataRow", dataRow);
      //     L.marker([dataRow.Latitude, dataRow.Longitude], { icon: myfire }).addTo(map);
      //     if (mappan == false) {
      //       console.log("setting mapview");
      //       map.setView([dataRow.Latitude, dataRow.Longitude], 10);
      //       mappan = true;
      //     }
      //     keys.forEach(function (key) {
      //       let cell = row.append("td");
      //       cell.text(dataRow[headers[key]]);
      //     });
      //   });
      // });
    }

    function filter_state(state) {
      selectedstate = state;
      get_county();
      $("#fire_table").empty();
      var headers = { 'State': 'State_name', 'County': 'County', 'Fire Cause': 'Fire_Cause', 'Acres Burned': 'Fire_Size', 'Month': 'Discovery_Month', 'Year': 'Discovery_Year' };
      var keys = Object.keys(headers);
      //console.log("keys", keys);
      var thead = d3.select("thead");
      var tbody = d3.select("tbody");
      let header = tbody.append("tr");
      keys.forEach(function (key) {
        let cell = header.append("th");
        cell.text(key);
      });
      // add marker icons for filter
      $(".leaflet-marker-icon").remove();

      $.ajax({
        method: "POST",
        url: "http://127.0.0.1:5000/api/state",
        data: { state: state }
      })
        .done(function (msg) {
          var datafilter = JSON.parse(msg);
          // console.log(msg);
          datafilter.forEach((dataRow) => {
            let row = tbody.append("tr");
            console.log("dataRow", dataRow);

            L.marker([dataRow.Latitude, dataRow.Longitude], { icon: myfire }).addTo(map);

            keys.forEach(function (key) {
              let cell = row.append("td");
              cell.text(dataRow[headers[key]]);
            });
          });
        });


      // d3.csv("Resources/wildfireDataFinal.csv").then(function (data) {
      //   datafilter = data.filter(holder => holder.State_name == state);
      //   datafilter.forEach((dataRow) => {
      //     let row = tbody.append("tr");
      //     console.log("dataRow", dataRow);
      //     keys.forEach(function (key) {
      //       let cell = row.append("td");
      //       cell.text(dataRow[headers[key]]);
      //     });
      //   });
      // });
    }

    $(document).ready(function () {
      //console.log("hello world!");
      //grab the states from postgres or from csv
      var states = get_states();
      $("#state").on('change', function () {
        var val = $("#state").val();
        console.log("state value = ", val);
        filter_state(val);
      });

      $("#county").on('change', function () {
        var val = $("#county").val();
        filter_county(val);
      });

    });

    function debug(x) {
      // console.log(x);
    }
  </script>

  </div>

</body>

</html>